(bp_common) {
  encode gzip

  # /api/* -> backend und /api prefix entfernen
  handle_path /api/* {
    reverse_proxy backend:8000
  }

  # alles andere -> frontend
  handle {
    reverse_proxy frontend:3000
  }
}

bp-pilot.ch {
  import bp_common
}

app.bp-pilot.ch {
  import bp_common
}
